
.success{
    position: fixed;
    top: 20px;
    right: 20px;
    // opacity: 0.8!important;
    z-index: 999999;
    display: flex;
    align-items: center;
    background-color: rgb(4, 111, 4);
    color: #fff;
}

.error{
    position: fixed;
    top: 20px;
    right: 20px;
    // opacity: 0.8!important;
    z-index: 999999;
    display: flex;
    align-items: center;
    background-color: rgb(172, 16, 16);
    color: #fff;
}