<!-- <div class="container" style="z-index: 1;">
    <div [@animationState]="animationState" class="box">
      <h2>ჩემი ანიმირებული ელემენტი</h2>
      <p>ეს ელემენტი ჩნდება ზედა მარჯვენა კუთხიდან</p>
    </div>
  </div> -->

  <!-- @if(successStaatusAlert){ -->
    <div class="alert-div" 
        style="">
        <div class="alert alert-success" role="alert"
            [@animationState]="animationState"
            style="max-width: 600px; margin-top: -5px; margin-right: 5px;">
            წარმატებით შინახა
        </div>
    </div>
<!-- } -->
