@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');
.main, .modal{
  font-family: 'Montserrat', sans-serif;
}

.computers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .computer{
        position: relative;
        height: 550px;
        width: 450px;
        background-color: rgb(54, 58, 70);
        margin: 15px;
        border-radius: 15px;

        .title{
            // margin-left: 10px;
            display: flex;
            justify-content: center;

            // .status{
            //     margin-left: 5px;
            // }
        }

        .timer-info{
            position: absolute;
            // bottom: 150px;
            width: 100%;
            padding: 15px;

            .timers-number{
                font-weight: bolder;
                color: rgb(235, 235, 235);
            }

            /*** <--- CIRCLE STYLES ---> ***/
            .wrap-circles {
            display: flex;
            // min-height: 100vh;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            // padding: 2rem 1rem;
            // background: #000;
            }

            .circle {
                position: relative;
                width: 350px;
                height: 350px;
                margin: 0.5rem;
                border-radius: 50%;
                background: #e90b03;
                overflow: hidden;
              }

              .circle.per-25 {
                background-image: conic-gradient(#7e8083 0%, #37a5e6e7 0);
              }

              .circle .inner {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 320px;
                height: 320px;
                background: rgb(54, 58, 70);
                border-radius: 50%;
                font-size: 1.85em;
                font-weight: 300;
                color: rgba(165, 15, 15, 0.75);
              }
        }

        .buttons{
            position: absolute;
            bottom: 10px;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            // button:hover{
            //   background-color: green;
            // }

            .startButton{
              cursor: pointer;
              width: 60px;
              height: 60px;
            }

            .pause-continue-Button{
              width: 63px;
              height: 63px;
            }

            .stop-Button{
              width: 63px;
              height: 63px;
            }
        }
    }
}
