
 <div class="main">
                <div class="table p-5" style="height: 650px; overflow: auto;">

                        <div class="pocker" style="margin-bottom: 5px;">
                                <form >
                                        <!-- <label for="birthday">Birthday:</label> -->
                                        <input type="date" id="date" name="date" 
                                                style="border-radius: 5px;"
                                                [(ngModel)]="currentDate">
                                        <input type="submit" value="ძებნა" 
                                                style="background-color: #0d6efd; margin-left: 5px; border-radius: 5px"
                                                (click)="getData()">
                                </form>
                        </div>
                       

                        <table class="table table-hover">
                                <thead>
                                  <tr>
                                        @for(displayedColumns of theadNames; track displayedColumns){
                                                <th scope="col">{{displayedColumns}}</th>     
                                        }
                                  </tr>
                                </thead>
                                <tbody> 
                                        @for(row of tbodyNames; track row){
                                                <tr data-bs-toggle="offcanvas" 
                                                        data-bs-target="#offcanvasBottom"
                                                        aria-controls="offcanvasBottom"
                                                        (click)="selectedItem(row)">
                                                        <th scope="row">{{ row.id }}</th>
                                                        <td>{{ row.name }}</td>
                                                        <td style="text-align: center;">{{ row.status }}</td>
                                                        <td style="text-align: center;">{{ row.ordertime }}</td>
                                                        <td style="text-align: center;">{{ row.endtime }}</td>
                                                        <td style="text-align: center;">{{ row.clientname }}</td>
                                                        <!-- <td>{{ row.moneyForRooms && row.amountofmoneywithcard ? "ბარათით-ნაღდი" : 
                                                                row.amountofmoneywithcard ? "ბარათით" : row.amountofmoneywithcash ? "ნაღდი" : '' }} </td> -->
                                                        <td style="text-align: center;">{{ row.amount }} ₾</td>
                                                        <td style="text-align: center;">{{ row.orderedjuss }}</td>
                                                        <td>
                                                                <button class="btn btn-primary" type="button" 
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal" 
                                                                        (click)="pay(row.id)">გადახდა</button> 
                                                        </td>
                                                </tr> 
                                        }
                                </tbody>
                        </table>

                </div>


</div>

<div class="statistis-footer">

        <div class="footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        (click)="getDayInfo()">დღის დახურვა</button>
        </div>
               
</div>

<!-- დასრულებულზე ცვლილების შეტანის მოდალი --> 
<div class="modal fade" id="exampleModal" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">გადახდის დამატება</h5>
              <button id="closebutton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="cash-info mt-1">
                        <div class="pay d-flex justify-content-between">
                                <div class="form-check" style="padding-left: 0px;">
        
                                    <h5 style="text-align: center;">PS 5</h5>
            
                                    <div class="paywithcash d-flex align-items-center justify-content-between">
                                        <!-- <input class="form-check-input ms-1" type="radio" name="flexRadioDefault" value="paywithcash" 
                                            id="flexRadioDefault1"
                                            (change)="onChanged($event.target)"> -->
                                        <label class="form-check-label ms-1" for="flexRadioDefault1">
                                            ნაღდით გადახდა
                                        </label>
                                        <input type="text" class="form-control ms-1" id="exampleFormControlInput1" style="width: 50px;" [(ngModel)]="moneyForRoomsCash">
                                    </div>
            
                                    <div class="paywithcash d-flex align-items-center justify-content-between mt-1">
                                        <!-- <input class="form-check-input ms-1" type="radio" name="flexRadioDefault" value="paywithcash" 
                                            id="flexRadioDefault1"
                                            (change)="onChanged($event.target)"> -->
                                        <label class="form-check-label ms-1" for="flexRadioDefault1">
                                            ბარათით გადახდა
                                        </label>
                                        <input type="text" class="form-control ms-1" id="exampleFormControlInput1" style="width: 50px;" [(ngModel)]="moneyForRoomsCard">
                                    </div>
            
                                </div>
            
                                <div class="form-check-card " style="padding-left: 0px;">
        
                                    <h5 style="text-align: center;">Snacks & Beer</h5>
            
                                    <div class="paywithcard d-flex align-items-center justify-content-between">
                                        <!-- <input class="form-check-input ms-1" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="paywithcard"
                                            (change)="onChanged($event.target)"> -->
                                        <label class="form-check-label ms-1" for="flexRadioDefault2">
                                            ნაღდით გადახდა
                                        </label>
                                        <input type="text" class="form-control ms-1" id="exampleFormControlInput1" style="width: 50px;" [(ngModel)]="moneyForSnacksCash">
                                    </div>
            
                                    <div class="paywithcash d-flex align-items-center justify-content-between mt-1">
                                        <!-- <input class="form-check-input ms-1" type="radio" name="flexRadioDefault" value="paywithcash" 
                                            id="flexRadioDefault1"
                                            (change)="onChanged($event.target)"> -->
                                        <label class="form-check-label ms-1" for="flexRadioDefault1">
                                            ბარათით გადახდა
                                        </label>
                                        <input type="text" class="form-control ms-1" id="exampleFormControlInput1" style="width: 50px;" [(ngModel)]="moneyForSnacksCard">
                                    </div>
            
                                </div>
                            </div>
        
                        <div class="text">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="სასმელები, ჩიფსები..." id="floatingTextarea2" style="height: 100px"
                                        [(ngModel)]="orderedjuss"></textarea>
                                <label for="floatingTextarea2">სასმელები, ჩიფსები...</label>
                              </div>
                        </div>
                    </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="putselectedrow()">ცვლილების შენახვა</button>
            </div>
          </div>
        </div>
</div>
              
      
<!-- დღის დახურვის მოდალი --> 
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
                aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-config={backdrop:true}>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">20-03-2024</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                        <li class="list-group-item"><span> თანხა ანგარიშზე:</span><span>{{amountWithCard}}₾</span></li>
                        <li class="list-group-item"><span> თანხა ქეშად:</span><span>{{amountWithCash}}₾</span></li>
                        <li class="list-group-item"><span> თანხა ოთახებიდან:</span><span>{{moneyFromComputerRooms}}₾</span></li>
                        <li class="list-group-item"><span> თანხა წვენებიდან:</span><span>{{moneyFromSnacks}}₾</span></li>
                        <li class="list-group-item"><span style="font-weight: bold;"> თანხა ჯამში:</span> <span style="font-weight: bold;">{{amount}}₾</span></li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">გაუქმება</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="dayOff()">დახურვა</button>
            </div>
          </div>
        </div>
</div>