
 <div class="main">
                <div class="table p-5" >

                        <div class="pocker" style="margin-bottom: 5px;">
                                <form >
                                        <!-- <label for="birthday">Birthday:</label> -->
                                        <input type="date" id="date" name="date" 
                                                style="border-radius: 5px;"
                                                [(ngModel)]="currentDate">
                                        <input type="submit" value="Submit" 
                                                style="background-color: #0d6efd; margin-left: 5px; border-radius: 5px"
                                                (click)="getData()">
                                </form>
                        </div>
                       

                        <table class="table table-hover">
                                <thead>
                                  <tr>
                                        @for(displayedColumns of theadNames; track displayedColumns){
                                                <th scope="col">{{displayedColumns}}</th>     
                                        }
                                  </tr>
                                </thead>
                                <tbody> 
                                        @for(row of tbodyNames; track row){
                                                <tr data-bs-toggle="offcanvas" 
                                                        data-bs-target="#offcanvasBottom"
                                                        aria-controls="offcanvasBottom"
                                                        (click)="selectedItem(row)">
                                                        <th scope="row">{{ row.id }}</th>
                                                        <td>{{ row.name }}</td>
                                                        <td style="text-align: center;">{{ row.status }}</td>
                                                        <td>{{ row.ordertime }}</td>
                                                        <td>{{ row.endtime }}</td>
                                                        <td>{{ row.clientname }}</td>
                                                        <td>{{ row.paywithcard ? "ბარათით" : "ნაღდით" }} </td>
                                                        <td>{{ row.amount }} ₾</td>
                                                        <td>{{ row.orderedjuss }}</td>
                                                        <td>
                                                                <button class="btn btn-primary" type="button" 
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal" 
                                                                        (click)="pay(row.id)">გადახდა</button> 
                                                        </td>
                                                </tr> 
                                        }
                                </tbody>
                        </table>

                </div>


</div>

<div class="modal fade" id="exampleModal" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">გადახდის დამატება</h5>
                      <button id="closebutton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="cash-info mt-1">
                                <div class="form-check" style="padding-left: 0px;">
                                    <div class="paywithcash d-flex align-items-center">
                                        <label class="form-check-label ms-1" for="flexRadioDefault1">
                                            ნაღდით გადახდა
                                        </label>
                                        <input type="text" class="form-control ms-1" id="exampleFormControlInput1" style="width: 50px;" 
                                                [(ngModel)]="amountofmoneywithcash">
                                    </div>
                 
                                </div>
                
                                <div class="form-check" style="padding-left: 0px;">
                                    <div class="paywithcard d-flex align-items-center">
                                        <label class="form-check-label ms-1" for="flexRadioDefault2">
                                            ბარათით გდახდა
                                        </label>
                                        <input type="text" class="form-control ms-1" id="exampleFormControlInput1" style="width: 50px;" 
                                                [(ngModel)]="amountofmoneywithcard">
                                    </div>
                
                                </div>
                
                                <div class="text">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="სასმელები, ჩიფსები..." id="floatingTextarea2" style="height: 100px"
                                                [(ngModel)]="orderedjuss"></textarea>
                                        <label for="floatingTextarea2">სასმელები, ჩიფსები...</label>
                                      </div>
                                </div>
                            </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="putselectedrow()">ცვლილების შენახვა</button>
                    </div>
                  </div>
                </div>
</div>

              
